<app-hero [title]="'Welcome To Movies'" [subtitle]="'Experience the ultimate entertainment destination with our vast collection of movies and TV shows.'" [image]="'../../../../assets/images/pexels-martin-lopez-1117132.jpg'"></app-hero>

<section class="Most-popular mt-5 pt-3">
  <div class="cards my-3 w-100 row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-4">
    <div class="col" *ngFor="let movie of movies">
      <app-movie [movie]="movie"  [routerLink]="'/moviedetails/'+movie.id"></app-movie>
    </div>
  </div>
</section>
