.movie-details{
  background-color: #F0F0ED;
}
.banner{
  height: 40vh;
  margin-top: 61.17px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    left: 0;
    top: 0;
  }
  .movie-image{
    position: absolute;
    left: calc(100% / 7);
    bottom: -120px;
    width: 200px;
    z-index: 3;
    img{
      width: 100%;
    }
  }
  .text{
    color: white;
    position: absolute;
      right: calc(100% / 7);
      top: 50%;
      transform: translateY(-50%);
      z-index: 3;
    .title{

    }
  }
}
.information{
  padding-top: 10rem;
  padding-bottom:1rem ;
  background-color: #F0F0ED;

  span{
    padding: 5px 15px;
    margin: 5px;
    border-radius: 20px;
    background-color: white;
    text-wrap: nowrap;
  }
}


@media (max-width: 992px) {
  .banner{
    .movie-image{
      left: calc(50%);
      transform: translateX(-50%);
      bottom: -120px;
    }
    .text{
        left: calc(50%);
        transform: translateX(-50%);
        top: 170%;
        width: 100%;
        color: black;
    }
  }
  .information{
    padding: 21rem 0;
  }
}
.cards{
  margin: 0 !important;
}
