.card{
  position: unset !important;
  cursor: pointer;
  img{
    max-height: 270px;
  }
  .card-text , .card-title{
    width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
}
